name: secrets-scan-gitleaks

on:
  pull_request:
  push:
    branches: [main]

permissions:
  contents: read

jobs:
  gitleaks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db8b4bbee98b60c0593521ed34d9990e8
      - name: Gitleaks scan
        uses: gitleaks/gitleaks-action@v2        with:
          args: >
            --redact
            --verbose
            --no-git
